# dependencies
node_modules

# production
build
.env
.DS_Store

# testing
coverage

# environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# misc
.DS_Store
cache

# client dependencies
client/node_modules
client/.pnp
client/.pnp.js

# client production
client/build
client/src/contracts
client/dev

# client testing
client/coverage

# client logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/lerna-debug.log*
client/.pnpm-debug.log*

# client environment variable files
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# client misc
client/.DS_Store
client/cache